---
layout: single
---

<script src="/assets/js/alert.js"></script>

<div id="main" role="main">
  <article class="entry">
    <div class="entry-wrapper">
      <div class="entry-content">
     <center><p></p></center>
     <center><p></p></center>
      <center><p><i><q>“Hike more. Worry Less.”</q></i></p></center>
      
      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
  </article>
</div><!-- /#main -->

<!--<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}-->
